@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    background-color:#CCFBF1;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.container {
    height: 100vh;
    display : flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    width: 75%;
    padding: 25px;
    flex-wrap: wrap;
}


.info-container > div > img {
    width: 50vw;
    max-height: 25vh;
    border-radius: 15px;
    border: 5px solid #FEF3C7;
    
}

.description-container {
    text-align: center;
    border-radius: 15px;
    width: 65%;
    padding: 25px;
   display: flex;
    flex-direction: column;
    background-color:#FEF3C7;
    border: 3px solid black;
}



.description-container > div > button{
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 150px;
    
    
}
