@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    background-color: #E4E4E7;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.container {
    height: 50vh;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px  solid black;
}

.info-container {
    display: flex;


}


.info-container > div > img {
    height: 350px;
    width: 500px;
    border-radius: 5%;
    
}